apiVersion: v1
kind: Secret
metadata:
  name: {{ object.value.name }}-introspection-client-secret
  namespace: {{ object.value.project }}
  labels:
    api_product: {{ object.value.name }}
stringData:
{%+ if object.value.introspection_policy_config.auth_typr == "client_id+client_secret" +%}
  client_secret: {{ object.value.credentials.custom_client_secret }}
{%+ elif object.value.introspection_policy_config.auth_typr == "use_3scale_oidc_issuer_endpoint" +%}
  client_secret: {{ object.value.credentials.client_secret }}
{%+ endif +%}
type: Opaque
