apiVersion: v1
kind: Secret
metadata:
  name: {{ object.value.name }}
  namespace: {{ object.value.project }}
  labels:
    api_product: {{ object.value.name }}
stringData:
  user_key: {{ object.value.credentials.user_key }}
type: Opaque
